@charset "UTF-8";
@font-face {

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    height: auto;
}


header {
    position: relative;
    background-color: gray;
    width: 100%;
    height: 290px;
}


header > h1 {
    font-size: 48pt;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

header > nav {
    position: absolute;
    display: inline;
    text-align: left;
    margin-top: 258px;
}

nav > a {
    text-decoration: none;
    margin-left: 33px;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a:hover {
    background-color: white;
    padding: 13px;
}


section#imagem {
    margin-top: 126px;
}

img {
    float: right;
}


h2#title  {
    position: absolute;
    text-align: center;
}