@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
   
    height: 300px;
    width: 300px;

    padding: 10px 20px;

    border: 20px inset rgb(17, 17, 235);

    outline: 10px dashed red;

    margin: 20px auto 20px auto;
}

a {
    display: block;
    border: 10px;
    margin: 10px auto 10px auto;
    border-style: ridge;
    border-color: red;
}

p {
    margin: 10px auto 10px auto;
    padding: 10px;
    text-align: center;
}